include README.rst
include requirements.txt
recursive-include  imct/static *
recursive-include  imct/templates *
recursive-include  imct/app/tests/integration/data *
recursive-include  imct/app/tests/unit/data *
recursive-include  imct *.ini
recursive-include  imct/alembic *
recursive-include  imct/tests *
